@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mea+Culpa&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* Appliquer globalement */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Police et marge supérieur */
body {
    padding-top:80px;
    background-color: #dfd2b9 !important;
}

/* police des titres des mots importants */
h1, h2,
h3, h4,
strong {
  font-family: "Playfair Display", serif;
}